
 <article>

   <h1>自分へ手紙を書こう！</h1>
  <div class="contents">
   <div class="row">
    <div class="col-sm-12 col-md-6">
      <ul class="row_A">
        <li class="col-md-5"> <%= image_tag 'main_01.jpg' %></li>
      </ul>
    </div>
    
  <div class="col-sm-12 col-md-6">
    <div class="topic">
      <ul class="row_B">
       <li class="col-md-12">Happyな日も、</li>
       <li class="col-md-12">泣きたい夜も、</li>
       <li class="col-md-12">気持ちを綴れば、明日はいい日</li>
      </ul>
    </div>
  </div>

        </div>
      </div>


 <div class="jumbotron">
    <h2>Let's write a letter!</h2>
    <p> will write a letter with feelings.I write it within 140 letters.</p>
    <p>Click the button!</p>
    <p class="btn btn-info btn-lg" role="button"><%= link_to new_letter_path do %>write a letter<% end %></p>
</div>

</article>
